# Binaries (The compiled executable)
raft-ml-grid
main
*.exe

# OS Specific
.DS_Store

# IDE / Editor
.vscode/
.idea/

# Local Environment Secrets (Very Important)
.env

# Raft Storage (Don't commit your database!)
raft-data/
*.db

# Python bytecode
__pycache__/
*.pyc

# ML Datasets & Models (Added)
# Ignore the raw MNIST data files
*.gz
*.ubyte
# Ignore the default PyTorch data download folder
data/
# Ignore trained model weights
*.pth
*.pt